<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">



    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <titulo-pagina subTitulo="Olá, {{loginData().nomeUsuario}}. " ocultaFavoritar="true"></titulo-pagina>
        <!-- / HEADER -->
        <!-- CONTENT -->
        <div class="content">

            <div id="ambiente-homologacao" fxLayout="column" fxLayoutAlign="center center">

                <div class="content" fxLayout="column" fxLayoutAlign="center center">

                    <div class="error-code">
                        <h1>Ambiente de homologação!</h1>
                    </div>

                </div>

            </div>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->
    <!-- SIDEBAR -->
    <!-- / SIDEBAR -->

</div>
